&-stat {
	&-percent {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		line-height: 1;

		h2 {
			font-size: 48px;
			margin: 0 12px 0 0;
			color: #54c8db;
		}

		&-text {
			font-weight: bold;
		}
	}

	&-legend {
		display: flex;
		min-width: 200px;
		margin: 0 0 16px 12px;
		font-weight: bold;
		&-dot {
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin-right: 6px;
			&.blue-dot{
				background-color: #2e49cd;
			}
			&.aqua-dot{
				background-color: #54c8db;
			}
			&.red-dot{
				background-color: #e12600;
			}
		}
	}

	&-text {
		font-weight: bold;
		margin: .75em 0;

		&.cld-link-button {
			margin: .75em 0;
		}
	}
}
