@use "../../../variables" as *;


// Submit panel & Switch Cloud.

.cld-submit,
.cld-switch-cloud {
	background-color: #fff;
	border: 1px solid $color-cld-grey-blue;
	border-top: 0;
	padding: 1.2rem 1.75rem;
}

.cld-panel.closed + .cld-submit,
.cld-panel.closed + .cld-switch-cloud{
	display: none;
}
