@font-face {
	font-family: cloudinary;
	src: url(fonts/cloudinary.eot);
	src:
		url(fonts/cloudinary.eot?x#iefix) format("embedded-opentype"),
		url(fonts/cloudinary.woff) format("woff"),
		url(fonts/cloudinary.ttf) format("truetype"),
		url(fonts/cloudinary.svg?x#cloudinary) format("svg");
	font-weight: 500;
	font-style: normal;
}

.dashicons {

	&-cloudinary {

		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&::before {
			font-family: cloudinary, monospace !important;
			content: "\e900";
		}

		&-media::before {
			font-family: cloudinary, monospace !important;
			content: "\e905";
		}

		&-dam::before {
			font-family: cloudinary, monospace !important;
			content: "\e906";
		}

		&.success {
			color: $color-green;
		}

		&.error {
			color: $color-red;

			&::before {
				content: "\e901";
			}
		}

		&.uploading {
			color: $color-orange;

			&::before {
				content: "\e902";
			}
		}

		&.info {
			color: $color-blue;
		}

		&.downloading {

			&::before {
				content: "\e903";
			}
		}

		&.syncing {

			&::before {
				content: "\e904";
			}
		}

		&.media {

			&::before {
				content: "\e905";
			}
		}

		&.dam {
			&::before {
				content: "\e906";
			}
		}
	}
}

/* stylelint-disable selector-class-pattern */
.column-cld_status {
	width: 5.5em;

	.dashicons {

		&-cloudinary, &-cloudinary-dam {
			display: inline-block;

			&::before {
				font-size: 1.8rem;
			}
		}
	}
}
/* stylelint-enable selector-class-pattern */

.form-field,
.form-table {

	.error-notice {
		display: none;
		color: $color-red;
	}

	input.cld-field:invalid {
		border-color: $color-red;

		+ .error-notice {
			display: inline-block;
		}
	}
}

.cloudinary {

	&-welcome {
		background-image: url(images/logo.svg);
		background-repeat: no-repeat;
		background-size: 153px;
		background-position: top 12px right 20px;
	}

	&-stats {
		display: inline-block;
		margin-left: 25px;
	}

	&-stat {
		cursor: help;
	}

	&-percent {
		font-size: 0.8em;
		vertical-align: top;
		color: $color-blue;
	}
}

.cld_transformations {
	&__icons {
		display: flex;
		gap: 20px;
		color: $color-transformations-asset;
		margin-block: 5px;

		&:hover {
			color: $color-transformations-asset;
		}
	}

	&__icon {
		opacity: 0.5;

		&--active {
			color: $color-blue;
			opacity: 1;
		}

		svg {
			width: 18px;
			height: 18px;

			path {
				fill: currentColor;
			}
		}
	}
}
