// Selects.
.regular-select {
	display: inline;
	appearance: none;
	min-width: 150px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	padding: 2px 6px;
	font-size: $size-setting-field;
	font-weight: 600;
}
