// Gallery styles.
&-gallery-settings {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
	box-sizing: border-box;

	@media only screen and (min-width: $size-medium) {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	&__column {
		box-sizing: border-box;
		width: 100%;

		@media only screen and (min-width: $size-medium) {
			padding-left: 1rem;
			padding-right: 1rem;
			width: 50%;
		}
	}
}

@at-root {
	.components-base-control__field select {
		display: block;
		margin: 1rem 0;
	}

	.components-range-control__wrapper {
		margin: 0 !important;
	}

	.components-range-control__root {
		flex-direction: row-reverse;
		margin: 1rem 0;
	}

	.components-input-control.components-number-control.components-range-control__number {
		margin-left: 0 !important;
		margin-right: 16px;
	}

	.components-panel {
		border: 0 !important;
	}

	.components-panel__body:first-child {
		border-top: 0 !important;
	}

	.components-panel__body:last-child {
		border-bottom: 0 !important;
	}

	.components-textarea-control__input {
		display: block;
		width: 100%;
		margin: 0.5rem 0;
	}
}
