// Group component.
&-group {

	.cld-group .cld-group {
		padding-left: 4px;
	}

	.cld-group .cld-group hr {
		display: none;
	}

	&-heading {
		display: flex;
		justify-content: space-between;

		h3 {
			font-size: 0.9rem;

			.description {
				font-size: 0.7rem;
				margin-left: 0.7em;
				font-weight: normal;
			}
		}
	}

}
