// Links - button styled.

&-link {
	&-button {
		background-color: $color-cld-blue;
		color: #fff;
		text-decoration: none;
		padding: 0.42em 1.47em;
		border-radius: 6px;
		font-weight: bold;
		font-size: 0.735em;
		margin: 0;
		display: inline-block;

		&:hover, &:focus {
			color: #fff;
			text-decoration: none;
		}
	}
}
