// Media styles : Images, breakpoints ,and videos previews
&-image,
&-video,
&-breakpoints {


	&-preview {
		padding: 9px;
		border-radius: 4px;
		border: 1px solid $color-cld-grey-blue;

		&-wrapper {
			position: relative;
		}

		.cld-ui-title {
			margin: 5px 0 12px 0;
			font-weight: bold;
		}

		img {
			width: 100%;
			border-radius: 4px;
		}
	}
}

&.cld-ui-preview {
	max-width: 322px;
}

&-breakpoints {
	&-preview {
		.cld-image-preview-wrapper:hover{
			.preview-image {
				opacity: 0;
			}
			.main-image{
				opacity: 1;
				img, span{
					opacity: 0.4;
				}

			}
		}
		.preview-image {
			display: flex;
			border-radius: 4px;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: #222222;
			box-shadow: 2px -2px 3px rgb(0 0 0 / 90%);
			&:hover{
				opacity: 1 !important;
				img, span{
					opacity: 1 !important;
				}
			}
			&.main-image{
				position: relative;
				box-shadow: none;
			}
		}

		.preview-text {
			color: $color-white;
			text-shadow: 0 0 3px black;
			background-color: $color-cld-blue;
			position: absolute;
			top: 0;
			right: 0;
			padding: 3px;
		}

		.global-transformations-url-link:hover{
			text-decoration: none;
			color: $color-white;
		}
	}
}
