// UI sub components.
&-ui {
	&-suffix {
		display: inline-block;
		padding: 4px 6px;
		background-color: #e8e8e8;
		color: #999;
		line-height: 1.7em;
		margin-left: 13px;
		border-radius: 4px;
		font-size: $size-panel-description;
		font-family: "Courier New", Courier, monospace;
		font-weight: bold;
	}

	&-preview {
		.cld-ui-header {
			margin-top: -1px;
		}

		.cld-ui-header:first-child {
			margin-top: 13px;
		}
	}

	&-collapse {
		align-self: center;
		padding: 0 0.45rem;
		cursor: pointer;
	}

	&-title {
		font-size: $size-panel-subtitle;

		h2 {
			font-size: $size-panel-title;
			font-weight: bold;
			margin: 6px 0 1px;
		}


		&.collapsible {
			cursor: pointer;
		}
	}

	&-wrap,
	&-conditional {
		.closed {
			display: none;
		}
	}

	&-wrap {
		.description {
			color: $color-cld-description;
			font-size: $size-panel-description;
		}

		.button:not(.wp-color-result) {
			background-color: $color-cld-blue;
			color: #fff;
			text-decoration: none;
			padding: 5px 14px;
			border: 0;
			min-height: 28px;
			border-radius: 4px;
			font-weight: bold;
			font-size: $size-button;
			margin: 0;
			display: inline-block;
		}

		.button:hover, .button:active {
			background-color: $color-cld-dark-blue;
		}

		.button:focus {
			background-color: $color-cld-blue;
			border-color: $color-cld-blue;
			box-shadow: 0 0 0 1px $color-white, 0 0 0 3px $color-cld-blue;
		}

		.button.button-small, .button.button-small:hover {
			min-height: 26px;
			line-height: 2.18181818;
			padding: 0 8px;
			font-size: 11px;
		}

		.button.wp-color-result {
			border-color: #d0d0d0;
		}

		.button.hidden {
			display: none;
		}
	}

	&-error {
		color: $color-red;
	}
}

&-referrer {
	&-link {
		margin: 12px 0 0;
		display: inline-block;
		text-decoration: none;

		span {
			margin-right: 5px;
		}
	}
}

&-special-offer {
	background-color: $color-cld-coral;
	color: #fff;
	text-decoration: none;
	padding: 5px 14px;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
	font-size: $size-sidebar-title;
	margin: 2em 0 0;
}
