// Wizard.

.cld-wizard {
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;

	// overrides.
	.cld-panel-heading {
		align-items: center;
	}
	.cld-ui-title{
		text-transform: initial;
	}
	.cld-submit {

		display: flex;
		justify-content: space-between;
		align-items: center;

		.button {
			margin-left: 10px;
		}
	}
}
