$color-green: #558b2f;
$color-success: #2a0;
$color-red: #dd2c00;
$color-light-grey: #e5e5e5;
$color-white: #fff;
$color-blue: #0071ba;
$color-orange: #fd9d2c;
$color-wp-blue: #3273ab;
$color-disabled-grey: #90a0b3;
$color-blue-grey: #e9ecf9;
$color-notification-success: #20b832;
$color-cld-blue: #3448c5;
$color-cld-blue-faded: rgba(52, 72, 197, 0.15);
$color-cld-dark-blue: #1e337f;
$color-cld-grey-blue: #c6d1db;
$color-cld-light-grey: #eaecfa;
$color-cld-description: rgba(0, 0, 1, 0.5);
$color-cld-dark-description: rgba(0, 0, 1, 0.75);
$color-cld-coral: #ff5050;
$color-grey-background: #f1f1f1;
$color-transformations-blue: #51a3ff;
$color-transformations-yellow: #f2d864;
$color-transformations-cyan: #54c8db;
$color-transformations-background: #262c35;
$color-transformations-asset: #333B4C;

/** Sizes */
$content-width: 870px;
$size-small: 783px;
$size-medium: 960px;
$size-large: 1200px;

/** Font Sizes */
$size-panel-title: 15px;
$size-panel-subtitle: 12px;
$size-sidebar-title: 14px;
$size-line-chart-value: 14px;
$size-panel-content: 12px;
$size-panel-description: 12px;
$size-panel-small: 10px;
$size-button: 11px;
$size-setting-label: 14px;
$size-setting-field: 13px;

/** Padding and margins */
$size-padding-column: 13px;
$size-padding-panel-title: 19px 23px;
$size-padding-sidebar-title: 6px 14px;
$size-padding-panel: 23px 24px;
$size-padding-sidebar: 14px 18px;

$size-settings-max-width: 800px;
